@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Merienda&family=Source+Sans+Pro:wght@200;300;400&display=swap');

.header_container {
  width: 100vw;
  height: calc(100vh - 100px);
  background-image: linear-gradient(
    98.47deg,
    rgba(0, 0, 0, 0.83) 35.63%,
    rgba(183, 57, 3, 0.33) 78.31%
  ), url('../../images/header.jpg');
  position: relative;
  background-size: cover;
  background-position: center;
}

.header_wrapper{
    position: absolute;
    top:30%;
    left:15%;
}

.header_container .top {
  background-color: #ce1125;
  width: fit-content;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_container .top span {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  padding: 2.0rem 1.0rem;

  color: #ffffff;
}

.header_container .bottom{
    margin-left: 1.5rem;
}

.header_container .bottom .heading{
  padding: .6rem 2.5rem;
  background-color: rgb(17, 17, 17);
}

.header_container .bottom span {
  font-family: Fredericka the Great;
 
  font-style: normal;
  font-weight: normal;
  font-size: 6.5rem;
  letter-spacing: .3rem;
  word-spacing: 1.5rem;
  color: #ffffff;
}
  

.header_container .bottom span:nth-child(2){
  color:#ce1125;
}

.header_container p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  letter-spacing: .15rem;
  font-size: 2.2rem;
  line-height: 4.0rem;
margin-left: 1.5rem;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  html{
    font-size: 55%;
  }
  .header_container{
    height : 60vh
  }
}
@media screen and (max-width: 780px) {
  html{
    font-size: 50%;
  }
  .header_container{
    height : 70vh
  }
}

@media screen and (max-width: 600px) {
  html{
    font-size: 40%;
  }
  .header_container{
    height : 60vh
  }
}

@media screen and (max-width: 480px) {
  html{
    font-size: 30%;
  }
  .header_container{
    height : 45vh
  }
}
@media screen and (max-width: 340px) {
  html{
    font-size: 25%;
  }
  .header_container{
    height : 40vh
  }
}


