.Nav_container {
  width: 100vw;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.Nav_container .first {
  flex: 2;
}
.first h1 {
  font-size: x-large;
  font-weight: 700;
  color: green;
}

.Nav_container nav {
  flex: 8;
}

.Nav_container nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
}
.Nav_container nav ul li {
  margin: 0 15px;
}
.Nav_container nav ul li a {
  font-size: 16px;
  font-weight: 640;
}

.Nav_container .last {
  flex: 2;
  text-align: center;
  padding: 30px 0;
}
.last a {
  padding: 15px 50px;
  background: #ce1125;
  border-radius: 42px;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}

@media screen and (max-width: 1080px) {
  .Nav_container .first {
    display: none;
  }

  .Nav_container nav {
    flex: 6;
  }

  .Nav_container nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 48px 5px;
  }
  .Nav_container .last {
    flex: 2;
  }

  .last a {
    padding: 10px 30px;
    background: #ce1125;
    border-radius: 42px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
  }
}
@media screen and (max-width: 950px) {
  .Nav_container  {
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  .Nav_container nav{
    height: auto;
    width: auto;
  }
  .Nav_container nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 5px;
    margin-top: 20px;
  }
    .Nav_container .last {
      flex: 2;
      text-align: center;
      padding: 10px 0;
    }
  
  .last a {
    background: #ce1125;
    border-radius: 42px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;}

}
