.about-container{
    width: 96vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:2px solid green; */
    margin :20px
}

.about-container .left{
    flex:3;
    
    height:100%
}
.about-container .right{
    flex:2;
}
.left .top{
    height:55%;
    width:100%;
    /* border: 2px solid rgb(0, 0, 0); */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}

.left .top img{
    display: none;
}
.left .top h1{
    text-align: center;
    font-size: 25px;
    color: #333;
    font-weight: 700;
}
.left .top p{
    font-size: 15px;
    color:#333;
    font-weight: 500;
    letter-spacing: 2px;
}

.left .bottom{
    height:45%;
    width:100%;
    /* border: 2px solid rgb(235, 0, 0); */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    
}
.left .bottom h1{
    text-align: center;
    font-size: 25px;
    color: #333;
    font-weight: 700;
}
.left .bottom p{
    font-size: 15px;
    color:#333;
    font-weight: 500;
    letter-spacing: 2px;
}

@media (max-width:1000px) {
    .about-container{
        display: flex;
        flex-direction: column-reverse;
        /* width: auto; */
        height: auto;
    }
    .right{
        display: none;
    }
    .left .top h1{
        margin-bottom: 20px;
    }
    .left .bottom h1{
        margin-bottom: 20px;
    }
    
}