.contact-container {
  width: 98%;
  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  border-radius: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;

  flex: 3;
}
.inputs h1 {
  text-align: center;
  font-size: 30px;
  color: #333;
  margin-bottom: 20px;
  padding: 10px;
  font-weight: 700;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0;
  align-items: center;
  padding: 20px 10px;
  width: 90%;
  height: 70%;
}

.contact-form input,
.contact-form textarea {
  width: 90%;
  padding: 10px 8px;
  font-size: 15px;

  outline: none;
  border-bottom: 2px solid gray;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #333;
}

.contact-form button {
	background-color: #000000;
	background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
  color: honeydew;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 18px;
}

.contact-form button:hover {
  transition: 0.3s;
  color: rgb(255, 255, 255);
  background: rgba(3, 3, 109, 0.781);
}

.address {
  flex: 2;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
  justify-content: space-evenly;
  align-items: flex-start;
  border-radius: 10px;
}
.address .line {
  display: flex;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
}
.address .line i {
  margin: 0 10px;
  padding: 0 10px;
  color: whitesmoke;
}
.address .line h2 {
  font-size: 25px;
  font-weight: 600;
  color: whitesmoke;
}

@media (max-width: 950px) {
  .contact-container {
    display: flex;
    flex-direction: column-reverse;
    height: 120vh;
  }
  .contact-form input,
  .contact-form textarea {
    width: 320px;
  }
  .address {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin: auto;
  }
}

@media (max-width: 600px) {
  .contact-container {
    display: flex;
    flex-direction: column-reverse;
    height: 120vh;
  }
  .contact-form input,
  .contact-form textarea {
    width: 400px;
  }
}
@media (max-width: 380px) {
  .contact-container {
    display: flex;
    flex-direction: column-reverse;
    height: 120vh;
  }
  .contact-form input,
  .contact-form textarea {
    width: 300px;
  }
}
