.footer{
    display: flex;
    height: 200px;
    /* border: 2px solid green; */
    margin:40px 0;
    
}
.fone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex:1
}
.fone h1{
    font-weight: 700;
    color:maroon;
    border-bottom: 2px solid maroon;
}

.fone p {
    padding:0 25px;
    font-size: medium;
    font-weight: 500;
}
.fone-link{
    display: flex;

}
.fone .fone-link img{
    height:25px;
    width:25px;
    margin:0 10px;
}

.ftwo{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.ftwo h1{
    font-weight: 700;
    color:maroon;
    border-bottom: 2px solid maroon;
}

.ftwo .ftwo-links{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    margin: 12px 0;
    
}
.ftwo .ftwo-links .ftwo-link{
    font-size: medium;
    text-decoration:none ;
    list-style-type: none;
    color:black;
    margin:3px 0;
}



.fthree{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fthree h1{
    font-weight: 700;
    color:maroon;
    border-bottom: 2px solid maroon;
    margin-bottom: 20px;
}
.fthree .fthree-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    
}
.fthree .fthree-details .fthree-detail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    padding: 4px 0;
}
.fthree .fthree-details .fthree-detail img{
    height:30px;
    width:30px;
    
    
}
.fthree .fthree-details .fthree-detail p{
    padding:0 25px;
    font-size: medium;
    font-weight: 500;
}

@media (max-width:900px){
    .footer{
        display: flex;
        flex-direction: column;
    }
    .fone{
        margin:20px 0;
    }
    .fthree{
        margin:20px 0;
    }
    .fthree-details{
        margin-left: 15px;
    }
    .fthree-details .fthree-detail p{
        font-size: small;
    }
}