.header{
    width:98vw;
    height:58vh;
    margin:20px 5px;
    background: url(../../files/transport.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:center;
}