.service-upper-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:20px 0;
    border-bottom: 2px solid #333;
    padding: 10px 0 25px 0;
}

.service-page{
    display: flex;
    flex-direction: column;
}

.service-page .service-heading{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
    margin: 5px 0 ;
}
.service-page .service-heading h1{
    font-size: xx-large;
    font-weight: 700;
    color:#333;
    border-bottom: 1px ridge rgb(3, 3, 109);
    border-top: 1px ridge rgb(3, 3, 109);
    border-width: 20px;
    padding: 5px;
    letter-spacing: 5px;
}

.service-page .service-heading h3{
    font-size: x-large;
    font-weight: 500;
    color:#333;
    border-bottom: 2px solid gray;
    padding:10px 0;
}

.service-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}