.upper{
    display: flex;
    flex-direction: row;
    margin:5px;
}
.one{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

}
.one img{
    height:75px;
    width:100px;
}

.two{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.two h1{
    
    color:rgb(78, 77, 77);
    letter-spacing: 0.5px;
}
.three{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.three h1{
    color:rgb(78, 77, 77);
    letter-spacing: 0.5px;
}
.s-icons{
    height: 65px;
    width:80px;
    margin:0 10px;
}
.four{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.four h1{
    color:rgb(78, 77, 77);
    letter-spacing: 0.5px;
}

@media screen and (max-width: 800px){
    .upper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .two,.three,.four{
        display:none;
    }

}