.one_container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:1rem  0;

}

.one_container .one_left {
  /* height: 70%; */
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 0 1rem;
}

.one_container .one_left a {
  padding: .5rem 2.5rem;
  margin: 1rem 0;
  background: #ce1125;
  border-radius: 42px;
  color: #fff;
  font-size:1.8rem;
  font-weight: bold;
}

.one_container .one_left h1 {
  
  font-family: Merienda;
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 9.2rem;

  color: #2b2b2b;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.one_container .one_left p {
  font-style: normal;
  /* width: 300px; */
  font-weight: 300;
  /* text-align:center; */
  font-size: 1.8rem;
  line-height: 35px;
}

.one_container .one_left button {
  font-size: 1.6rem;
  border-radius: 42px;
  font-weight: bold;
  border: 1.5px solid #ce1125;
  padding: .6rem 4.0rem;
  margin-top: 2.0rem;
}

.one_container .one_right {
  width: 35%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.one_container .one_right .one_right_image {
  width: 280px;
  height: 200px;
  object-fit: cover;
  background-color: grey;
  margin: .8rem 0;
}

@media screen and (max-width: 1024px) {
  html{
    font-size: 55%;
  }
  .one_container{
    height :auto;
    margin:8rem 0;
    display: flex;
    justify-content: space-evenly;
  }
  .one_container .one_left{
   width: 40%; 
  }
}
@media screen and (max-width: 850px) {
  html{
    font-size: 50%;
  }
  .one_container .one_left{
    width: 50%;
    padding: 0;
    justify-content: space-evenly
  }
  
}

@media screen and (max-width: 600px) {
  html{
    font-size: 40%;
  }
  .one_container{
    height : auto
  }
  .one_container .one_left {
    width: 100%;
    align-items: center;
    padding: 5rem 3rem;
  }
  .one_container .one_left p {
    font-size: 2.5rem;
  }
  
  .one_container .one_right{
    display: none;
  }
}

@media screen and (max-width: 480px) {
  html{
    font-size: 30%;
  }
  .one_container{
    height : 45vh;
    /* background-color: aqua; */
    margin: 5rem 0;
    
  }
  .one_container .one_left p {
    font-size: 3rem;
    line-height: 30px;
    width: 95%;
  }
  .one_container .one_left a , .one_container .one_left button{
    font-size: 3rem;
    padding: 1rem 2rem;
  }
}
@media screen and (max-width: 380px) {
  html{
    font-size: 30%;
  }
  .header_container{
    height : 40vh
  }
  .one_container .one_left p {
    font-size: 3.5rem;
    line-height: 30px;
  }
}
